.card {
    background-color: aliceblue;
    /* ====BORDER PROPERTY STARTS==== */
    /* border-style: solid; */
    /* border-style: dashed; */
    /* border-style: dotted;
    border-width: 10px;
    border-color: yellow; */

    /* border: 10px dotted yellow; */

    border: 10px solid black;
    /* border: border-width border-style border-color */

    /* border-top: 10px solid blue;
    border-right: 5px solid green;
    border-bottom: 10px dashed blue;
    border-left: 5px dotted yellow; */
    /* ====BORDER PROPERTY STARTS==== */


    /* ====MARGIN PROPERTY STARTS==== */
    /* margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px; */

    /* margin: 10px 20px 30px 20px; */
    /* margin : top right bottom left */

    /* margin: 10px 20px; */
    /* margin : top & bottom left & right */

    margin: 30px;
    /* ====MARGIN PROPERTY ENDS==== */


    /* ====PADDING PROPERTY STARTS==== */
    /* padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px; */

    /* padding: 50px 20px 30px 40px; */
    /* padding : top right bottom left */

    /* padding: 10px 20px; */
    /* padding : top & bottom left & right */
    /* padding-top:100px; */
    padding: 15px;
    /* ====PADDING PROPERTY ENDS==== */

    
    /* ====DISPLAY PROPERTY STARTS==== */
        /* display: inline; */
        display: inline-block;
        /* display: none; */
    /* ====DISPLAY PROPERTY ENDS==== */

    /* ====VISIBILITY PROPERTY START==== */
        /* visibility: hidden; */

    /* ====VISIBILITY PROPERTY ENDS==== */

    width: 20%;
}

.card:hover {
    cursor: pointer;
    /* cursor: not-allowed; */
    /* cursor: none; */
}

.heading {
    border: 2px solid blue;
}


.image {
    /* width: 200px; */
    /* height: 200px; */
    width: 100%;
    height: 100%;
}

p {
    width: 200px;
}

.top-bar {
    height: 50px;
    background-color: aliceblue;
    text-align: left;
}

.ed-logo {
    /* text-align: left; */
}

.container {
    width: 300px;
    height: 300px;
    border: 10px solid black;
    background-color: red;
    margin-bottom: 150px;
}

.pos-static {
    position: static;
    /* top: 30px;
    left: 30px; */
    bottom: 20px;
    right: 20px;
}


.pos-relative {
    position: relative;
    top: 30px;
    left: 30px;
    /* bottom: 20px;
    right: 20px; */
}

.pos-absolute {
    /* position: absolute; */
    top: 30px;
    left: 30px;
}

.pos-fixed {
    width: 100%;
    position: fixed;
    top: 0;
}

.pos-sticky {
    position: sticky;
    top: 50px;
}

.heading-new {
    /* TEXT SHADOWS */
    text-shadow: 5px 5px 3px red;
}

.box {
    box-shadow: 10px 10px 5px grey;
}

.bg-demo {
    border: 1px solid black;
    height: 500px;
    background-image: url('https://th.bing.com/th/id/R.760744607e5ad19f8589a5fa16de211a?rik=%2bdLvkcAqTM5WYg&riu=http%3a%2f%2fstatic.zerochan.net%2fPixiv.Id.3835191.full.1134533.jpg&ehk=THilLWfNNu96I%2fM45PYu7HqfZ8FKDoiofhQuzDtuIKA%3d&risl=&pid=ImgRaw&r=0');
    background-repeat: no-repeat;
    /* background-size: 500px 500px; */
    /* background-size: auto; */
    /* background-size: contain; */
    background-size: cover;
    /* background-position: bottom; */
}