.input-field:focus {
    background-color: blue;
}

.input-field:disabled {
    background-color: red;
}


/* .content > p:first-of-type {
    color: blue;
} */

.content > p:last-of-type {
    color: green;
}

.content > p:first-child {
    color: red;
}

.content > p:last-child {
    color: brown;
}

.content > p:nth-child(2) {
    background-color: yellow;
}

.content > p:nth-of-type(3) {
    background-color: green;
}