.container {
  border: 1px solid black;
  height: 200px;
  width: 600px;
  background-color: azure;
}

@media screen and (max-width: 320px) {
  /*STYLES APPLIED TO SCREEN FROM 0 TO 320*/
  .container {
    width: 150px;
  }
}

@media screen and(max-width:600px) {
  /*STYLES APPLIED TO SCREEN FROM 321 TO 600*/
  .container {
    width: 300px;
  }
}

@media screen and(max-width:900px) {
  /*STYLES APPLIED TO SCREEN FROM 601 TO 900*/
  .container {
    width: 600;
  }
}
